
my_inputs/donkey.jpgJul_25_10-31-31data.m
my_inputs/narrowJunction.png.svg
my_inputs/narrowJunction.png_optimized.svg
my_inputs/narrowJunction.pngJul_25_13-58-13data.m
my_inputs/narrowJunction.pngJul_25_13-58-34.m
my_inputs/narrowJunction_opt.m
my_inputs/narrowJunction.pngJul_25_14-33-18data.m
my_inputs/narrowJunction.pngJul_25_14-37-43data.m
my_inputs/tapir.png
my_inputs/tapir_big.png
vectorizationLog.txt
